
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  overflow-x: hidden;
}


#nprogress .bar {
  background: red !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px red, 0 0 5px red !important;
}

#nprogress .spinner-icon {
  border-top-color: red !important;
  border-left-color: red !important;
}

/* NAVBAR */

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background: rgb(238, 238, 238);
  width: 100%;
  color: #222831;
  padding: 30px 3%;
}

.nav-brand {
  color: #007791;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }

  100% {
    width: 90%;
  }
}

.menu {
  margin-left: 30px;
}

/* NAVBAR END */

/* HOME SECTION */


.home-box {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/home.jpg");
}

.home-box .home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-box .home-content .home-headline {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: #222831;
  text-shadow: 0 2px 4px rgba(41, 48, 59, .55);
}

.home-box .home-content .home-subline {
  font-size: 30px;
  line-height: 1.61;
  color: #4f8a8b;
  text-align: center;
  padding: 20px 0;
  margin-top: 9px;
  text-shadow: 0px 0px 4px rgba(13,129,163,0.92);
}


.home-box .home-content .wrap .search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.home-box .home-content .wrap .search .searchTerm {
  width: 70%;
  border: 3px solid #4f8a8b;
  border-right: none;
  padding-left: 12px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-right: 12px;
  height: 50px;
  outline: none;
  color: #eeeeee;
  border-radius: 6px 0px 0px 6px;
  font-size: 20px;
  font-weight: 500;
}

.home-box .home-content .wrap .search .searchTerm:focus {
  color: #222831;
}

.home-box .home-content .wrap .search .searchButton {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #4f8a8b;
  background: #4f8a8b;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-icon {
  color: #eeeeee;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.search-icon-open  {
  border-left: none ;
  color: #eeeeee;
}

.home-box .home-content .wrap {
  flex: 1;
  display: flex;
  height: 50px;
  width: 100%;
  color: #222831;
}

.home-box .home-content .home-button-new {
  display: flex;
}

.home-box .home-content .home-button-new .btn-in {
  box-sizing: border-box;
  appearance: none;
  background-color: #4f8a8b;
  border: 2px solid #4f8a8b;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 0.6em 1.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}

.home-box .home-content .home-button-new .btn-in:hover,
.btn-in:checked {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  box-shadow: 0 0 40px 40px #222831 inset;
  color: #fff;
  outline: 0;
}


.home-box .home-content .home-button-new .btn-up {
  box-sizing: border-box;
  appearance: none;
  background-color: white;
  border: 2px solid #4f8a8b;
  color: #222831;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 0.6em 1.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}

.home-box .home-content .home-button-new .btn-up:hover, .btn-up:checked {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  box-shadow: 0 0 40px 40px #222831 inset;
  color: #fff;
  outline: 0;
}

/* HOME SECTION END*/

/* SEARCH CONTAINER */


.search-container {
  position: absolute;
  left: 0;
  top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Roboto Slab', serif;
}

.search-container .search-header {
  display: flex;
  height: 200px;
  align-items: center;
  width: 100%;
  background-color: #4f8a8b;
}

.search-container .search-header .search-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.search-container .search-header .search-header-inner .search-header-title {
  color: #eeeeee;
  font-size: 30px;
}


select {
  list-style: none; 
  padding: 0;
  margin: 0;
  background: #eeeeee;
  height: 40px;
  padding-left: 10px;
  color: #222831;
  font-weight: 600;
  font-size: 1rem;
}


select option{
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #222831;
}

.search-error {
  width: 100%;
  height: 600px;
  background: #f2f3f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.search-error-text {
  color: #505763;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  margin-top: 50px;
} 

.search-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  width: 100%;
  background-image: url("../../NeelClasses/src/images/background.jpg");
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.search-container2 {
  display: flex;

  margin-top: 30px;
  border-radius: 3px;
  border: 2px solid rgba(34, 40, 49, 0.7) ;
  width: 80%;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.search-container2:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.search-container2 .search-feed {
  text-decoration: none;
}

.search-container2 .search-feed .card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card .img .search-img{
  width: 350px ;
  height: 100%;
  padding: 20px 0 20px 20px;
}

.card .courseDescription {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.card .courseDescription .courseName .search-box-title {
  color: #222831;
  font-weight: 600;
  font-size: 1.7rem;
  opacity: 0.9;
  height: 50px;
  
}

.card .courseDescription .courseName .course-description .course-description-text {
  color: rgba(79, 138, 139, 0.8);
  width: 100%;
}

.search-rating-span {
  font-size: 1.8rem;
  color: #1daf00;
  font-weight: bold;
}

.search-rating-count {
  font-size: 1.2rem;
  color: #a38b00;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-switch {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 30px 0;
}

.page-number-active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #222831;
  border-color: #007791;
  cursor: default;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  margin: 0 1px;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4f8a8b;
  background-color: white;
  cursor: pointer;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  margin: 0 1px;
}

.page-number-active:hover {
  background-color: #4f8a8b;
  cursor: pointer;
  border: 3px solid rgba(34, 40, 49, 0.6);
}

/* SEARCH CONTAINER2 END */

/* ALL COURSES */
.search-container {
  position: absolute;
  left: 0;
  top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'Roboto Slab', serif;
}

.search-container .search-header {
  display: flex;
  height: 200px;
  align-items: center;
  width: 100%;
  background-color: #4f8a8b;
}

.search-container .search-header .search-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.search-container .search-header .search-header-inner .search-header-title {
  color: #eeeeee;
  font-size: 30px;
}


select {
  list-style: none; 
  padding: 0;
  margin: 0;
  background: #eeeeee;
  height: 40px;
  padding-left: 10px;
  color: #222831;
  font-weight: 600;
  font-size: 1rem;
}


select option{
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #222831;
}

.search-error {
  width: 100%;
  height: 600px;
  background: #f2f3f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.search-error-text {
  color: #505763;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  margin-top: 50px;
} 

.search-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  width: 100%;
  background-image: url("../../NeelClasses/src/images/background.jpg");
}

.search-container3 {
  display: flex;

  margin-top: 30px;
  border-radius: 3px;
  border: 2px solid rgba(34, 40, 49, 0.7) ;
  width: 80%;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.search-container3:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.search-container3 .search-feed {
  text-decoration: none;
}

.search-container3 .search-feed .card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card .img .search-img{
  width: 350px ;
  height: 100%;
  padding: 20px 0 20px 20px;
}

.card .courseDescription {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.card .courseDescription .courseName .search-box-title {
  color: #222831;
  font-weight: 600;
  font-size: 1.7rem;
  opacity: 0.9;
  height: 50px;
  
}

.card .courseDescription .courseName .course-description .course-description-text {
  color: rgba(79, 138, 139, 0.8);
  width: 100%;
}

.search-rating-span {
  font-size: 1.8rem;
  color: #1daf00;
  font-weight: bold;
}

.search-rating-count {
  font-size: 1.2rem;
  color: #a38b00;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-switch {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 30px 0;
}

.page-number-active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #222831;
  border-color: #007791;
  cursor: default;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  margin: 0 1px;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4f8a8b;
  background-color: white;
  cursor: pointer;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  margin: 0 1px;
}

.page-number-active:hover {
  background-color: #4f8a8b;
  cursor: pointer;
  border: 3px solid rgba(34, 40, 49, 0.6);
}

.search-box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100%;
}
/* ALL COURSES END */

.course-detail {
  display: flex;
  position: absolute;
  top: 90px;
  left: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.course-detail .course-header {
  display: flex;
  height: 300px;
  align-items: center;
  width: 100%;
  background-color: #4f8a8b;
}

.course-detail .course-header .course-header-inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}

.course-detail .course-header .course-header-inner .course-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-detail .course-header .course-header-inner .course-info .course-header-title {
  font-size: 35px;
  color: #222831;
  font-weight: 600;
}

.course-detail .course-header .course-header-inner .course-info .course-header-description{
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  margin-top: 15px;
}

.course-detail .course-header .course-header-inner .course-info .course-header-instructor {
  color: #eeeeee;
  font-size: 15px;
  margin-bottom: 10px;
}

.course-detail .course-header .course-header-inner .course-description {
  display: flex;
  align-items: flex-end;
}

.course-detail .course-header .course-header-inner .course-info .course-header-rating {
  font-size: 1.2rem;
  color: #a38b00;
}

.course-detail .course-header .course-header-inner .course-description .btn-enroll {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  padding: 0.3rem 1rem;
  color: #222831;
  font-size: 0.9rem;
  background-color: #fff;
  font-family: 'Roboto Slab', serif;
  opacity: 0.9;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid #fff;
}

.course-detail .course-header .course-header-inner .course-description .btn-enroll:hover {
  font-weight: 600; 
  box-shadow: 0 0 40px 40px #222831 inset;
  color: #fff;
  border: 1px solid #222831;
}

/* COURSE CONTENTS */

.content-show {
  display: flex;
  flex-direction: column;
  padding: 12px 30px 12px 43px;
  background-color: #fff;
  border: 2px solid #4f8a8b;
  color: #007791;
  letter-spacing: .3px;
  line-height: 1.33;
  font-size: 14px;
  width: 60%;
  margin-left: 25px;
  margin-top: 6px;
}

.content-hidden {
  display: none;
}

.course-contents-index-box {
  margin: 0px 130px;
}

.content-box {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  border: solid 2px #4f8a8b;
  cursor: pointer;
  height: auto;
  margin-top: 5px;
  padding: 10px 30px 10px 22px;
  width: 60%;
}

.content-title {
  font-size: 15px;
  padding-left: 8px;
  padding-right: 10px;
  color: #505763;
  display: flex;
  justify-content: flex-start;
}

.title-course {
  margin: 80px 130px 23px 130px;
  font-size: 22px;
  font-weight: 600;
  color: #29303b;
}

.content-video-list {
  display: flex;
  justify-content: space-between;
}

.content-video-list:hover {
  color: #003845;
}

.Plus {
  font-size: 20px;
}

.Play {
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-left: -25px;
}

.content-video-list .content-video-title , .content-title {
  font-size: 20px;
}

 .content-title {
  font-weight: 600;
  letter-spacing: 1px;
}

.title-course {
  font-size: 1.8rem;
}

/* COURSE CONTENTS END */

/* MODAL */

.modal-back-video {
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 48, 59, .6);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

.modal-back-video #video-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
}

.modal-back-video #video-container .video-title {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: #eeeeee;
  padding: 26px 26px 0px 16px;
  font-family: inherit;
  width: 100%;
}

.modal-back-video #video-container .video-player {
  width: 100%;
  background: rgba(18, 18, 18, .9);
}

.modal-back-video #video-container .video-player:focus {
  outline: none;
  box-shadow: none  ;
}

.modal-back-video .video-close {
  position: fixed;
  top: 30%;
  right: 25%;
  transform: translate(-30%,-25%);
  z-index: 10;
  height: 300px;
}

.modal-back-video .video-close .close-button {
  font-family: inherit;
  color: #fff;
  text-align: center;
  font-size: 50px; 
  height: 100%;
}

.modal-back-video  .video-close .close-button:hover {
  cursor: pointer;
}

/* MODAL ENDS */

/* LOG IN */

.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

.logincontainer .login-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 42%;
  border-radius: 30px ;
  padding: 50px 0;
  background-color: #eeeeee;
}

.logincontainer .login-card .login-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logincontainer .login-card .login-title .login-title-text {
  font-size: 2.3rem;
  line-height: 1.33;
  text-align: center;
  color: #222831;
  text-shadow: 0 2px 4px rgba(41, 48, 59, .55);
}

.logincontainer .login-card .form-body .form-body-component .mobile-field , .otp-field{
  height: 62px;
  width: 100%;
  padding: 0 35px 0 35px;
  background: #fff;
  border-radius: 31px;
  font-size: 18px;
  color: #8f8fa1;
  line-height: 1.2;
  background-color: #fff;
  margin-top: 10px;
}

.logincontainer .login-card .form-body .recaptcha {
  padding-top: 10px;
}

.logincontainer .login-card .form-body .buttons {
  padding-top: 10px;
  text-align: center;
}

.logincontainer .login-card .form-body .buttons .logbtn {
  padding: 0 10px;
  min-width: 100px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  font-size: 15px;
  color: black;
  /* line-height: 1.2; */
  text-transform: uppercase;
  margin: 0 10px;


  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* LOG IN END */

.notes-viewer {
  height:100%;
  width:100%;
}

.modal-back-notes #notes-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  height:50%;
  width:50%;
}



/* ADMIN PANEL */

.admin-panel-container {
  width: 100%;
  height: 100vh;
}

.admin-body {
  width: 100%;
  height: 92vh;

}

.admin-panel-container .admin-left-sidebar .separator {
  width: 80%;
  height: 5px;
  margin: 0 auto;
  background-color: rgb(172, 172, 172);
}

.admin-panel-container .admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background: #DBE0E3;
  width: 100%;
  color: #000000;
  padding: 30px 3%;
  border-bottom: 2px solid rgb(172, 172, 172);
}

.admin-panel-container .admin-header  .heading-main {
  display: flex;
  align-items: baseline;
}

.admin-panel-container .admin-header .heading-main .admin-header-brand {
  color: rgb(0, 0, 0);
  font-size: 2.5em;
  /* text-shadow: 0px 3px 3px #000000; */
}

.admin-panel-container .admin-header .heading-main .sub {
  margin-left: 10px;
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  /* text-shadow: 0px 3px 3px #000000; */
}

.admin-panel-container .admin-header .admin-header-title {
  font-size: 1.1em;
  /* text-shadow: 0px 3px 3px #000000; */
}

.admin-panel-container .admin-header .admin-header-brand {
  font-size: 2.5em;
  font-weight: 600;
  /* text-shadow: 0px 3px 3px #000000; */
}

.admin-panel-container .admin-left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 15%;
  height: 100%;
  float: left;
  background-color: #F9FDF5;
  border-right: 2px solid rgb(172, 172, 172);
}

.admin-panel-container .admin-right-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100%;
  float: right;
  background: #DBE0E3;
  
}

.admin-panel-container .admin-right-sidebar .admin-right-sidebar-course {
  width: 100%;
  height: 100%;
  background: #DBE0E3;
}

.admin-panel-container .admin-left-sidebar .admin-left-sidebar-buttons {
  height: 100%;
  width: 100%;
  background-color: #F9FDF5;
  padding: 10px;
}

.admin-panel-container .admin-left-sidebar .admin-left-sidebar-utility {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F9FDF5;
}

.admin-panel-container .admin-left-sidebar .admin-left-sidebar-utility .admin-left-sidebar-utility-buttons {
  background-color: #F9FDF5;
  padding: 0 10px 10px 10px;
}
.admin-panel-container .admin-left-sidebar .admin-left-sidebar-utility .admin-left-sidebar-utility-buttons .logout {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.74);
  transition: 0.3s;
  text-align: justify;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  color: rgb(80, 80, 80);
  background-color: #F9FDF5;
}

.admin-panel-container .admin-left-sidebar .admin-left-sidebar-utility .admin-left-sidebar-utility-buttons .logout:hover {
  background-color: #f0426221;
  cursor: pointer;
}

.admin-panel-container .admin-left-sidebar .admin-left-sidebar-buttons .course {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.74);
  transition: 0.3s;
  text-align: justify;
  margin-top: 15px;
  border: none;
  border-radius: 3px;
  color: rgb(80, 80, 80);
  background-color: #F9FDF5;
}

.admin-panel-container .admin-left-sidebar .admin-left-sidebar-buttons .course:hover {
  cursor: pointer;
  background-color: #f0426221;
}

.admin-panel-container .admin-left-sidebar .admin-left-sidebar-buttons .active {
  color: #fff;
  cursor: pointer;
  background-color: #F04262;
  box-shadow: 0 12px 8px -10px rgba(233, 141, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(233, 141, 80, 0.2);
}

.admin-panel-container .admin-left-sidebar .admin-left-sidebar-buttons .active:hover {
  background-color: #F04262  ;
}

.admin-icons {
  padding: 0 12px 0 10px;
}


.table-component {
  padding: 40px 80px 0 80px;
  
}

.table-component .table-body {
  width: 100%;
  border: 1px solid rgb(172, 172, 172);
  border-collapse: collapse;
  
}

.table-body caption {
  font-size: 1.6em;
  margin: .5em 0 .75em;
  font-weight: bold;
}

.table-body tr {
  background-color: #fff;
  border: 2px solid rgb(172, 172, 172);
  padding: .35em;
}
.table-body tr:nth-child(odd) {
  background-color: #ebe9e9;
  border: 2px solid rgb(172, 172, 172);
  padding: .35em;
}

.table-body thead {
  background-color: #F04262;
  font-size: 1.1rem;
}

.table-body th {
  padding: .625em;
  text-align: center;
  background-color: #F04262;
  color: white;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.table-body td {
  padding: .625em;
  text-align: center;
}


.link-view-contents {
  outline: none;
  border: none;
  text-decoration: none;
  background-color: #4fa1ff;
  font-size: 0.8rem;
  padding: 5px 13px 5px 13px;
  border-radius: 15px;
  color: white;
  transition: 0.07s ease-in;
}

.link-view-contents:hover {
  cursor: pointer;
  font-size:0.9rem ;
  padding: 4.5px 7.8px 4.5px 7.8px;
}

.btn-edit-course {
  outline: none;
  border: none;
  font-size: 0.8rem;
  padding: 5px 11px 5px 11px;
  background-color: green;
  border-radius: 15px;
  color: white;
  transition: 0.07s ease-in;
}

.btn-edit-course:hover {
  cursor: pointer;
  font-size:0.9rem ;
  padding: 4.5px 9px 4.5px 9px;
  
}

.btn-delete-course {
  outline: none;
  border: none;
  font-size: 0.8rem;
  padding: 5px 12px 5px 12px;
  background-color: red;
  border-radius: 15px;
  color: white;
  transition: 0.07s ease-in;
}

.btn-delete-course:hover {
  cursor: pointer;
  font-size:0.9rem ;
  padding: 4.5px 8px 4.5px 8px;
}


/* ADMIN PANEL END */


/* UPLOAD FORM */

.admin-panel-container .admin-body .admin-right-sidebar .admin-right-sidebar-upload, .admin-right-sidebar-add-edit {
  height: 100%;
  width: 100%;
}

.admin-panel-container .admin-body .admin-right-sidebar .admin-right-sidebar-upload .upload-container , .admin-right-sidebar-add-edit .upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  height:100%;
  width:100%;
  background: #DBE0E3;
}

.admin-panel-container .admin-body .admin-right-sidebar .admin-right-sidebar-upload .upload-container .header, .admin-right-sidebar-add-edit .upload-container .header  {
  font-size: 1.6em;
  margin: .5em 0 .75em;
  font-weight: bold;
  color: #535353;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;;
}

.container .form-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 30px ;
  
}

.container .form-body .form-body-component {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container .form-body .form-body-component .form-body-componentx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container .form-body .form-body-component .video-title-field , .doc-title, .course-name-field, .course-rating-field, .course-price-field {
  height: 62px;
  width: 100%;
  padding: 0 35px 0 35px;
  background: #fff;
  border-radius: 31px;
  font-size: 18px;
  color: #8f8fa1;
  line-height: 1.2;
  background-color: #fff;
  font-family: 'Roboto Slab', serif;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.container .form-body .form-body-component .video-title-field:focus , .doc-title:focus, .course-name-field:focus, .course-rating-field:focus, .course-price-field:focus {
  box-shadow: 0 0 5px #929292  ;
  border: 1px solid #707070c9;
}

.container .form-body .form-body-component select {
  font-family: 'Roboto Slab', serif;
  height: 62px;
  width: 100%;
  padding: 0 35px 0 35px;
  background: #fff;
  border-radius: 31px;
  border: none;
  font-size: 18px;
  color: #222831;
  line-height: 1.2;
  background-color: #fff;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.container .form-body .form-body-component select:focus {
  box-shadow: 0 0 5px #929292  ;
  border: 1px solid #707070c9;
}

.container .form-body .form-body-component select:hover {
  cursor: pointer;
}

.container .form-body .form-body-component .selector {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  padding: 0 35px 0 35px;
  background: #fff;
  border-radius: 31px;
  font-weight: 400;
  border: none;
  font-size: 18px;
  color: #696969;
  background-color: #fff;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.container .form-body .form-body-component .selector:focus {
  box-shadow: 0 0 5px #929292  ;
  border: 1px solid #707070c9;
}

.container .form-body .form-body-component .selector:hover {
  cursor: pointer;
}

.container .form-body .form-body-component .selected-file-notes , .selected-file-video {
  padding: 10px 10px;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  color: rgb(34, 32, 32);
  width: 100%;
  margin: 0 10px;
  height: 46px;
  border-radius: 31px;
  font-family: 'Roboto Slab', serif;
}

.container .form-body .form-body-component .selected-file-notes:focus , .selected-file-video:focus {
  box-shadow: 0 0 5px #929292  ;
  border: 1px solid #707070c9;
}

.container .form-body .form-body-component .selected-file-notes:hover , .selected-file-video:hover {
  cursor: pointer;
}

.container .form-body .form-body-component .submit-btn {
  font-family: 'Roboto Slab', serif;
  padding: 0 10px;
  width: 100%;
  height: 62px;
  border: none;
  background-color: #F04262;
  border-radius: 25px;
  font-size:18px;
  color: white;
  margin: 0 10px;
  transition: 0.3s ease-in;
}

.container .form-body .form-body-component .submit-btn:hover{
  background-color: #F04262  ;
  color: #fff;
  border : 1px solid white;
  cursor: pointer;
}

.container .click-me {
  padding: 0 10px;
  height: 30px;
  border: none;
  background-color: #222831;
  border-radius: 25px;
  font-size:14px;
  color: white;
  margin: 0 10px;
  transition: 0.3s ease-in;
}

.container .click-me:hover {
  background-color: #fff;
  color: #222831;
  border : 1px solid black;
  cursor: pointer;
}
.alert{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alert .alert-text {
  color: #222831;
  font-size: 2.9rem;
}

.alert .alert-view-course {
  color: #222831;
  font-size: 1.9rem;
  text-decoration: none;
  color: #002677;
  font-weight: 600;
  margin-top: 15px;
}

.alert .alert-view-course:hover {
  margin-top: 0.7rem;
  font-size: 2.1rem;
  color: #3072ff;
}
/* UPLOAD FORM END */

/* ADD / EDIT FORM */



/* ADD / EDIT FORM END */